.nemovitost-text h3 {
    font-size: 17px!important;
    text-transform: initial;
    margin-bottom: 10px!important;
}



/**/
.ranger {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #f5f5f5;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.ranger::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #7EC242;
  cursor: pointer;
}

.ranger::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7EC242;
  cursor: pointer;
}

label input ~ .type-inz-div:hover, label input:checked ~ .type-inz-div,
label input ~ .type-nem-div:hover, label input:checked ~ .type-nem-div{
    background-color: #7ec242;
}

label input ~ .type-inz-div:hover span, label input:checked ~ .type-inz-div span, label input ~ .type-inz-div:hover i:before, label input:checked ~ .type-inz-div i:before,
label input ~ .type-nem-div:hover span, label input:checked ~ .type-nem-div span, label input ~ .type-nem-div:hover i:before, label input:checked ~ .type-nem-div i:before{
    color: white;
}

label .type-inz-div, label .type-nem-div{
    border-radius: 5px;
    background: #f5f5f5;
}

label .type-inz, label .type-nem{
    text-align: left;
    padding: 3px 30px;
    align-items: center;
    display: flex;
    font-weight: normal;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

label .type-inz span, label .type-nem span{
    font-size: 18px;
}

label .type-inz i, label .type-inz i:before, label .type-nem i, label .type-nem i:before{
    font-size: 40px;
    color: #7ec242;
}

label .type-inz i:before, label .type-nem i:before{
    font-size: 40px;
    margin-left: 0;
    margin-right: 25px;
}

.selects label{
    display: block;
    margin-bottom: 0;
}

.selects label input{
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
}

.col-sm-3.btn-input{
    margin: 0 auto;
}

.col-sm-3.btn-input input, .col-sm-3.btn-input button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


select, input {
    outline: none !important;
}
select:focus, input:focus {
    box-shadow: 0 0 0pt 0pt #333;    
}
select {
    text-transform: none;
    background: whitesmoke;
    border: 0;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    display:block!important;
}
select option {
    color:#fff;
    padding:10px;
    background:grey;
}
select option:hover {
    background:pink;
}

.radio-wrap, .check-wrap {
    background: #f5f5f5;
    padding: 10px 20px 10px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 15px!important;
    font-family: "Roboto";
    text-transform: unset;
    font-weight: 400;
}
.radio-wrap input, .check-wrap input{
    width: unset;
    height: unset;
    margin-right: 10px;
}

.radios h3, .checks h3{
    width: 100%;
    margin-bottom: 10px!important;
}


.currency-input, .meters-input {
    position: relative;
}
.currency, .area{
    position: absolute;
    right: 20px;
    top: 8px;
    font-weight: 700;
    color: #154734;
    color: #7ec242;
}
.currency-input input, .meters-input input{
    padding-right: 50px;    
}

.area-input {
    flex-direction: column;
}

.add-inz .form-row {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}


.add-inz .section-title h2{
    margin-bottom: 20px;
    
}

.section-title p{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.green-highlight {
    color: #7ec242;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.inz-nav{
    position: relative;
    margin-bottom: 50px;
}
.inz-nav:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0px;
    background: #eaeaea;
    z-index: 10;
}

.inz-nav .nav-box {
    position: relative;
    z-index: 20;
}

.nav-box-wrap {
    background: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: black;
}
.nav-box-wrap h2 {
    font-size: 13px;
    margin-bottom: 0px;
    flex-grow: 1;
    text-align: center;
}

.nav-box-wrap:hover, .nav-box .nav-box-wrap.active{
    color: white;
    background: #7ec242;
}




.nav-box-wrap .num {
    color: white;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 22px;
    padding: 3px 16px;
    background: #7ec242;
    border-right: 1px solid rgba(255, 255, 255, 0.48);
    margin-right: 10px;
}





/*-----inz-sec---------*/

.inz-form-sec {
    margin-top: 30px;
    padding: 0 30px;
}

.selects {
    justify-content: center;
}
/*
.selects > .col-sm{
    max-width: unset;
    flex-grow: 0;
    width: auto;
}
*/
.inz-box {
    text-align: center;
    margin-bottom: 70px;    
}
.inz-box h3 {
    font-size: 22px;
    margin-bottom: 35px;
}

.select-box {
    padding: 20px 30px;
    font-size: 18px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 5px;
    color: black;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-box.w-icon{
    padding: 3px 30px;
    /*display: block;*/
    justify-content: flex-start;
}




.select-box .ico:before {
    color: #7ec242;
    font-size: 50px;
    margin: 0;
    margin-right: 25px;
}
.select-box:hover {
    background: #7ec242;
    color: white;
}

.select-box:hover .ico:before {
    color: white;
}


.ico-smaller .ico:before {
    color: #7ec242;
    font-size: 40px;
    margin: 0;
    margin-right: 20px;
}

.align-left {
    text-align: left;
}
.bigger-label label {
    font-size: 22px;
}

.col-spacer {
    width: 3%;
    max-width: 3%;
}

.nazev-popis textarea {
    height: 100px;
}

.center-inz-box {
    display: flex;
    justify-content: center;    
    margin-bottom: 40px;
}

.center-inz-box .form-row {
    justify-content: center; 
    flex-direction: column;
}
.center-inz-box .form-row {
    max-width: 480px;
    width: 100%;
}

@media (min-width: 576px){
    .col-sm-3{
        max-width: 300px;
        width: 100%;
    }
}